.contacts {
  width: 100%;
  padding-top: 42px;
  text-align: center;

  background-color: #ffffff;
}

.contacts__caption {
  margin: 0 auto;
  padding: 0;
  width: 320px;

  color: $navy;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 320px;
  padding-top: 10px;
  padding-bottom: 45px;
}

.contacts__wrapper {
  margin: 0;
  margin-top: 23px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;

  color: $navy;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.contacts__adress {
  width: 280px;
  margin: 0 auto;

  color: $pink;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.contacts__link,
.contacts__phone {
  color: $pink;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-decoration: none;
}

.contacts__link:hover,
.contacts__link:focus {
  color: $navy;

  background: linear-gradient(to right, $navy, $navy 50%, $navy 50%);
  background-repeat: repeat-x;
  background-position: 0 26px;
  background-size: 3px 2px;
}

.contacts__link:active {
  color: rgba($navy, 0.3);
  text-decoration: none;
}

.contacts__map {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  text-align: center;

  &::before {
    content: "";

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px;
    z-index: 2;

    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
  }
}

.contacts__map iframe {
  width: 100%;
  height: 200px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 0;
    padding-top: 45px;
  }

  .contacts__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 30px;
    margin-top: 20px;
    width: 660px;
  }

  .contacts__wrapper-phone {
    margin-left: 70px;
    margin-right: auto;
  }

  .contacts__wrapper-mail {
    margin-left: auto;
    margin-right: 50px;
  }

  .contacts__wrapper-adress {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .contacts__caption {
    width: 660px;
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__map {
    min-height: 374px;

    &::before {
      height: 67px;
    }
  }

  .contacts__map iframe {
    height: 374px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 70px;
    padding-top: 60px;
  }

  .contacts__container {
    padding-bottom: 20px;
    width: 1200px;
  }

  .contacts__caption {
    width: 1200px;

    font-size: 50px;
    line-height: 62px;
  }

  .contacts__wrapper {
    margin-top: 38px;
  }

  .contacts__wrapper-phone {
    margin-left: 180px;
  }

  .contacts__wrapper-mail {
    margin-right: 160px;
    order: 2;
  }

  .contacts__wrapper-adress {
    padding-left: 15px;
  }

  .contacts__title {
    margin-bottom: 25px;
  }

  .contacts__map {
    min-height: 502px;

    &::before {
      height: 102px;
    }
  }

  .contacts__map iframe {
    height: 502px;
  }
}
