.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: $navy;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.copyright__text {
  margin-right: 12px;

  font-weight: 400;
}

.copyright__link {
  margin-top: 4px;
}

.copyright__icon {
  fill: $pink;

  &:hover,
  &:focus {
    fill: $navy;
  }

  &:active {
    fill: rgba($navy, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    font-size: 18px;
  }
}
