.info {
  margin: 0 auto;
  padding-top: 0;
  width: 320px;
  background-color: $light-grey;

  text-align: center;
}

.info__container {
  margin: 0;
  padding: 41px 0 8px;

  background-color: #ffffff;
}

.info__offer {
  margin: 0 0 25px;

  color: $navy;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.info__wrapper {
  margin: 0;
  padding: 84px 0 0;

  background-image: url("../img/bg-triangle-white.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;

  &::after {
    content: "";

    display: block;
    margin: auto 0;
    padding: 0;
    width: 320px;
    height: 275px;

    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 157px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }
}

.info__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  list-style: none;
}

.info__title {
  margin: 0 0 10px;
  padding: 0;

  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.info__description {
  margin: 0 auto 32px;
  padding: 0;
  width: 280px;

  color: $navy;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.info__effect {
  display: none;
  margin: 0;
}

.info__effect-wrapper {
  margin: 0;
  padding: 0;
}

.info__effect-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.info__learn {
  color: $pink;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
}

@media (min-width: $tablet-width) {
  .info {
    padding-top: 0;
    width: 660px;
  }

  .info__container {
    padding: 46px 0 44px;
  }

  .info__offer {
    margin: 0;

    font-size: 40px;
    line-height: 50px;
  }

  .info__wrapper {
    padding-top: 0;

    &::after {
      display: none;
    }
  }

  .info__list {
    padding-left: 28px;
    margin-top: 74px;
    margin-bottom: 6px;
  }

  .info__item {
    margin-bottom: 37px;
  }

  .info__description {
    margin: 0;
    width: 320px;
  }

  .info__effect {
    display: flex;
    flex-direction: row;

    background-color: #ffffff;

    &::before {
      content: "24";

      display: block;
      padding-top: 164px;
      padding-left: 85px;
      width: 245px;
      text-align: left;

      background-image: url("../img/icon-editor-diagram-fill.svg"),
        url("../img/icon-timer.svg");
      background-repeat: no-repeat,
        no-repeat;
      background-position: 39px 114px,
        21px 59px;
      background-size: auto 202px,
        auto 276px;

      font-size: 96px;
      line-height: 96px;
      font-weight: 700;
      color: $pink;
    }
  }

  .info__effect-wrapper {
    margin-top: 96px;
    padding-bottom: 40px;
    width: 330px;
    text-align: left;
  }

  .info__effect-title {
    margin: 0;
    padding: 0;
    width: 168px;
  }

  .info__effect-description {
    margin: 10px 0 10px;
    width: 305px;

    color: $navy;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .info__wrapper {
    display: flex;
    flex-direction: row;

    &::before {
      content: "";

      display: block;
      width: 300px;

      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-position: 50% 0;
      background-repeat: no-repeat;
      background-size: 270px;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }
  }

  .info__item {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .info {
    width: 1200px;
  }

  .info__container {
    padding-top: 65px;
    padding-bottom: 78px;
  }

  .info__offer {
    font-size: 50px;
    line-height: 61px;
  }

  .info__list {
    margin-top: 0;
    padding: 0 120px;
    flex-direction: row;
    justify-content: space-between;
  }

  .info__item {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    width: 240px;

    &::before {
      content: "";

      margin-bottom: 54px;
      height: 300px;

      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 292px;
    }

    &--cheer::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &--change::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &--friends::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .info__title {
    margin-bottom: 26px;

    font-size: 30px;
    line-height: 30px;
  }

  .info__description {
    width: auto;

    font-size: 18px;
    line-height: 30px;
  }

  .info__effect {
    padding-left: 130px;

    background-color: $light-grey;

    &::before {

      display: block;
      padding-top: 153px;
      padding-left: 79px;
      width: 285px;

      background-position: 22px 93px,
        0 25px;
      background-size: auto 253px,
        auto 345px;

      font-size: 120px;
      line-height: 120px;
    }
  }

  .info__effect-wrapper {
    margin-top: 115px;
    padding-bottom: 113px;
    width: 530px;
  }

  .info__effect-title {
    width: auto;
  }

  .info__effect-description {
    margin-top: 22px;
    margin-bottom: 32px;
    width: auto;

    font-size: 18px;
    line-height: 30px;
  }

  .info__learn {
    font-size: 18px;
    line-height: 30px;
  }
}
