.intro {
  margin: -69px auto 0;
  width: 320px;

  background-color: $navy;
  background-image: url("../img/iphone-hand-mobile@1x.png"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat,
                      no-repeat;
  background-size: auto,
                    320px;
  background-position: 0 178px,
                        50% 0;
}

.intro__slogan {
  height: 464px;
}

.intro__title {
  display: none;
  margin: 0 auto;
  width: 250px;

  text-align: center;

  color: #ffffff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-top: -110px;
    padding-left: 20px;
    padding-top: 200px;
    width: 640px;
    min-height: 529px;

    background-image: url("../img/iphone-hand-mobile@1x.png"),
                      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat,
                        no-repeat;
    background-size: 470px,
                      660px;
    background-position: 170px 210px,
                          50% 50%;
  }

  .intro__slogan {
    height: auto;
    width: 300px;
  }

  .intro__title {
    display: block;
  }
}

@media (min-width: $desctop-width) {
  .intro {
    padding-top: 216px;
    padding-left: 130px;
    width: 1070px;
    min-height: 637px;

    background-image: none;
  }

  .intro__title {
    font-size: 50px;
    line-height: 61px;
  }
}
