.page-footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  text-align: center;
}

.page-footer--index {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    width: 660px;
  }

  .page-footer--index {
    display: flex;
  }
}

@media (min-width: $desctop-width) {
  .page-footer {
    width: 1200px;
  }
}
