.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;

  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__logo {
  height: 22px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 660px;
  }
  .page-header__logo {
    height: 40px;
  }
}

@media (min-width: $desctop-width) {
  .page-header {
    width: 1200px;
  }
}
