.page-main {
  margin: -69px auto 0;
  padding-top: 98px;
  width: 320px;
  min-height: 141px;
  text-align: center;

  background-color: $navy;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-main__title {
  margin: 0 auto;

  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .page-main {
    padding-top: 135px;
    width: 660px;
    min-height: 263px;
  }

  .page-main__title {
    font-size: 50px;
    line-height: 62px;
  }
}

@media (min-width: $desctop-width) {
  .page-main {
    padding-top: 130px;
    width: 1200px;
    min-height: 223px;
  }
}
