.page-header {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  min-height: 47px;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__wrapper {
  position: relative;
  margin: 0 auto;
  width: 320px;
}

.page-header__logo {
  display: block;
  margin-left: 20px;
  margin-bottom: 25px;
  width: 75px;
  height: 22px;
}

.page-header__logo-image {
  fill: #ffffff;

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.page-header__logo:hover .page-header__logo-image,
.page-header__logo:focus .page-header__logo-image {
  fill: $pink;
}

.page-header__logo:active .page-header__logo-image {
  fill: rgba(#ffffff, 0.3);
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 27px;
  }

  .page-header__wrapper {
    width: 660px;
  }

  .main-nav__toggle {
    top: -67px;
  }

  .page-header__logo {
    margin-bottom: 42px;
    width: 147px;
    height: 40px;
  }

  .page-header__logo-image {
    width: 147px;
    height: 40px;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: none;
    }

    &--tablet {
      display: inline-block;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0;
    min-height: 83px;
  }

  .page-header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 0;
    padding-left: 130px;
    padding-right: 130px;
    width: 940px;
  }

  .page-header__wrapper {
    width: auto;
  }

  .page-header__logo {
    margin-left: 0;
  }

  .page-header__logo-image {
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: inline-block;
    }
  }
}
