.page-main {
  margin: -69px auto 0;
  padding-top: 98px;
  width: 320px;
  min-height: 141px;
  text-align: center;

  background-color: $navy;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-main__title {
  margin: 0 auto;

  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .page-main {
    margin-top: -110px;
    padding-top: 176px;
    width: 660px;
    min-height: 263px;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-main__title {
    font-size: 50px;
    line-height: 62px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    padding-top: 171px;
    width: 1200px;
    min-height: 223px;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}
