.page-footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 320px;
  text-align: center;

  &--index {
    display: none;
  }
}

.page-footer__social {
  margin: 32px 71px 0;
}

.page-footer__copyright {
  margin-top: 38px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    width: 620px;
  }

  .page-footer__social {
    margin-top: 4px;
    margin-left: 71px;
    margin-right: auto;
  }

  .page-footer__copyright {
    margin-top: 12px;
  }

  .page-footer--index {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 0;
    padding-bottom: 72px;
    width: 940px;
  }

  .page-footer__social {
    margin-left: 236px;
  }
}
