.price {
  width: 100%;

  background-color: $light-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;

  overflow: hidden;
}

.price__wrapper {
  margin: 0 auto;
  padding-top: 89px;
  padding-bottom: 49px;
  width: 320px;
  text-align: center;
}

.price__list {
  margin: 0 auto;
  margin-left: -258px;
  margin-bottom: 46px;
  width: 836px;
  text-transform: uppercase;

  border-collapse: collapse;
}

.price__row-name {
  display: none;

  border: 2px solid $light-grey;
}

.price__header {
  position: relative;
  padding-top: 18px;
  padding-bottom: 23px;
  width: 276px;
  background-color: $navy;

  border: 2px solid $light-grey;

  color: #ffffff;
  line-height: 30px;
}

.price__header--hit {
  &::before {
    content: "";

    display: block;
    position: absolute;
    top: 0;
    left: -2px;
    width: 73px;
    height: 73px;

    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }

  &::after {
    content: "ХИТ";

    display: block;
    position: absolute;
    top: 6px;
    left: 2px;
    width: 73px;
    height: 73px;

    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;

    transform: rotate(-45deg);
  }
}

.price__name {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.price__value {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.price__feature {
  padding-top: 14px;
  padding-bottom: 15px;
  width: 276px;
  background-color: #ffffff;
  text-align: justify;

  border: 2px solid #e5e5e5;

  color: $navy;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400px;
}

.price__feature-name {
  display: inline-block;
  padding-left: 22px;
}

.price__feature-presence {
  display: inline-block;
  float: right;
  margin-right: 16px;
  margin-top: 4px;

  font-size: 0;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  &--available {
    width: 31px;
    height: 21px;

    background-image: url("../img/icon-yes.svg");
  }

  &--unavailable {
    width: 27px;
    height: 26px;

    background-image: url("../img/icon-no.svg");
  }
}

@media (min-width: $tablet-width) {
  .price__wrapper {
    padding-bottom: 18px;
    width: 660px;
  }

  .price__list {
    width: auto;
    margin: 0 auto 46px;
  }

  .price__header {
    padding: 0;
    padding-top: 12px;
    padding-bottom: 8px;
    width: 125px;
  }

  .price__header--hit {
    &::before {
      left: 0;
      width: 61px;
      height: 61px;
    }

    &::after {
      top: -1px;
      left: 2px;
      width: 61px;
      height: 61px;
    }
  }

  .price__name {
    font-size: 16px;
  }

  .price__value {
    font-size: 18px;
  }

  .price__feature {
    padding: 7px 15px 8px;
    width: 125px;
    text-align: center;
  }

  .price__feature-name {
    display: none;
  }

  .price__feature-presence {
    margin: 0 auto;
    float: none;
  }

  .price__row-name {
    display: table-cell;
    padding-left: 15px;
    width: 125px;
    text-align: left;

    font-size: 14px;
    text-transform: none;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price__wrapper {
    padding-top: 146px;
    padding-bottom: 48px;
    width: 960px;
  }

  .price__header {
    padding: 17px 0 23px;
    width: 205px;
  }

  .price__header--hit {
    &::before {
      width: 73px;
      height: 73px;
    }

    &::after {
      top: 7px;
      left: 5px;
    }
  }

  .price__name {
    font-size: 18px;
  }

  .price__value {
    font-size: 24px;
  }

  .price__feature {
    width: 205px;
    padding-top: 14px;
    padding-bottom: 15px;
  }

  .price__row-name {
    padding-left: 24px;
    width: 196px;

    font-size: 18px;
  }
}
