.slider__button {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 41px;

  background-color: $light-grey;
  border: none;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto;
}
