.slider__button {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 41px;

  background-color: transparent;
  border: none;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

.slider__item {
  display: none;

  &--active {
    display: flex;
  }
}

.slider__arrow {
  fill: rgba($navy, 0.3);

  &:hover,
  &:focus {
    fill: rgba($navy, 0.6);
  }

  &:active {
    fill: rgba($navy, 0.1);
  }
}
