.toggles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 56px;
  text-align: center;
}

.toggles__button {
  margin: 0;
  padding: 0;
  width: 6px;
  height: 6px;

  background-color: rgba($navy, 0.3);
  border: none;
  border-radius: 3px;

  &:hover,
  &:focus {
    background-color: rgba($navy, 0.6);
  }

  &:active {
    background-color: rgba($navy, 0.1);
  }

  &--active,
  &--active:hover,
  &--active:focus,
  &--active:active {
    background-color: #ffffff;
    box-shadow: 0 0 0 3px $navy;
    border-radius: 6px;
  }
}
