.upload {
  margin-bottom: 41px;
  width: 100%;
  text-align: center;

  background-color: $light-grey;
}

.upload__title-wrapper {
  width: 100%;

  background-color: #ffffff;
}

.upload__title {
  padding-top: 45px;
  padding-bottom: 43px;
  margin: 0 auto;
  width: 320px;

  font-size: 14px;
  line-height: 30px;
}

.upload__container {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 41px;
  width: 320px;
}

.upload__image-wrapper {
  width: 280px;
  height: auto;
  margin: 0 auto;
}

.upload__effect-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  padding-left: 50px;
  padding-right: 70px;
}

.upload__effect-button {
  background-color: transparent;
  border: none;

  &--crop {
    width: 44px;
    height: 44px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

.upload__icon {
  fill: rgba($navy, 0.3);

  &--crop {
    width: 44px;
    height: 44px;
  }

  &--fill {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }

  &:hover,
  &:focus {
    fill: rgba($navy, 0.5);
  }
}

.upload__effect-button--active .upload__icon {
  fill: $pink;

  &:hover,
  &:focus {
    fill: rgba($navy, 0.5);
  }
}

.upload__scale-wrapper {
  padding: 2px 40px 0;
}

.upload__scale {
  display: none;
  margin-top: 30px;
  padding: 0;

  &--active {
    display: block;
  }

  appearance: none;
  width: 240px;
  height: 16px;
  background: transparent;

  &:focus {
    outline: none;
  }

  &::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    border: 2px solid $pink;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: $light-grey;
    cursor: pointer;
    margin-top: -6px;
  }

  &:active::-webkit-slider-thumb {
    background-color: $pink;
  }

  &::-moz-range-thumb {
    border: 2px solid $pink;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: $light-grey;
    cursor: pointer;
  }

  &:active::-moz-range-thumb {
    background-color: $pink;
  }

  &::-ms-thumb {
    border: 2px solid $pink;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: $light-grey;
    cursor: pointer;
  }

  &:active::-ms-thumb {
    background-color: $pink;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $navy;
  }

  &::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: $navy;
  }

  &::-ms-fill-lower {
    background: $navy;
  }

  &::-ms-fill-upper {
    background: $navy;
  }
}

.upload__button-wrapper {
  position: relative;
  margin-top: 66px;

  &::before {
    content: "";

    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: -38px;
    left: 0;

    background-color: rgba($navy, 0.1);
  }
}

.upload__button {
  width: 280px;
  height: 55px;

  background-color: transparent;
  border: 3px solid;
  border-radius: 27px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.upload__button--post {
  border-color: $pink;

  color: $pink;

  &:hover,
  &:focus {
    background-color: $pink;

    color: #ffffff;
  }

  &:active {
    background-color: $pink;

    color: rgba(#ffffff, 0.3);
  }
}

.upload__button--cancel {
  margin-top: 12px;

  border-color: rgba($navy, 0.1);

  color: rgba($navy, 0.1);

  &:hover,
  &:focus {
    border-color: rgba($navy, 0.3);

    color: rgba($navy, 0.3);
  }

  &:active {
    background-color: rgba($navy, 0.3);
    border-color: transparent;

    color: rgba(#ffffff, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .upload {
    margin-bottom: 0;
  }

  .upload__title {
    padding-top: 66px;
    padding-bottom: 69px;
    width: auto;

    font-size: 18px;
  }

  .upload__container {
    display: flex;
    flex-direction: row;
    padding-top: 58px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 48px;
    width: 620px;
  }

  .upload__image-wrapper {
    width: 300px;
    height: auto;
    margin: 0;
  }

  .upload__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    padding-left: 12px;
    padding-right: 0;
    width: 288px;

    &::after {
      content: "";

      display: block;
      position: absolute;
      width: 275px;
      height: 1px;
      right: -10px;
      top: 200px;

      background-color: rgba($navy, 0.1);
    }
  }

  .upload__scale-wrapper {
    position: relative;
    padding: 0;
    padding-right: 6px;

    &::before,
    &::after {
      content: "";

      display: block;
      position: absolute;
      width: 275px;
      height: 1px;
      right: -10px;

      background-color: rgba($navy, 0.1);
    }

    &::before {
      top: 54px;
    }

    &::after {
      top: 128px;
    }
  }

  .upload__scale {
    display: block;
    width: 202px;

    &--crop {
      margin-top: 10px;
    }

    &--fill {
      margin-top: 58px;
    }

    &--contrast {
      margin-top: 54px;
    }
  }

  .upload__effect-wrapper {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 29px;
    padding-left: 20px;
    padding-right: 0;
    min-height: 162px;
  }

  .upload__effect-button {
    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      margin-top: 53px;
      width: 24px;
      height: 22px;
    }

    &--contrast {
      margin-top: 49px;
      margin-left: 4px;
      width: 16px;
      height: 16px;
    }
  }

  .upload__icon {
    fill: $pink;

    &--crop {
      width: 22px;
      height: 22px;
    }

    &--fill {
      width: 24px;
      height: 22px;
    }

    &--contrast {
      width: 16px;
      height: 16px;
    }
  }

  .upload__button-wrapper {
    margin-top: 60px;
    padding-left: 20px;

    &::before {
      display: none;
    }
  }

  .upload__button {
    margin: 0 auto;
    width: 260px;

    &--cancel {
      margin-top: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .upload {
    margin-bottom: 98px;
  }

  .upload__title {
    padding-top: 63px;
    padding-bottom: 64px;
    padding-left: 130px;
    padding-right: 130px;
  }

  .upload__container {
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 70px;
    padding-top: 54px;
    padding-bottom: 54px;
    width: 800px;
  }

  .upload__image {
    margin-top: 3px;
    margin-right: 110px;
  }

  .upload__scale-wrapper {
    position: relative;
    padding-right: 28px;

    &::before,
    &::after {
      content: "";

      display: block;
      position: absolute;
      width: 410px;
      height: 1px;
      right: 0;

      background-color: rgba($navy, 0.1);
    }

    &::before {
      top: 58px;
    }

    &::after {
      top: 132px;
    }
  }

  .upload__scale {
    width: 288px;

    &--crop {
      margin-top: 14px;
    }
  }

  .upload__wrapper {
    position: relative;
    margin-left: 0;
    padding-left: 0;
    width: 410px;

    &::after {
      content: "";

      display: block;
      position: absolute;
      width: 410px;
      height: 1px;
      top: 202px;
      right: 0;

      background-color: rgba($navy, 0.1);
    }
  }

  .upload__effect-wrapper {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 180px;
  }

  .upload__effect-button {
    padding: 0;

    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      margin-top: 32px;
      width: 48px;
      height: 43px;
    }

    &--contrast {
      margin-top: 30px;
      width: 32px;
      height: 32px;
    }
  }

  .upload__icon {
    &--crop {
      width: 44px;
      height: 44px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
    }
  }

  .upload__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 4px;
    padding-left: 0;
    width: 410px;
  }

  .upload__button {
    margin: 0;
    width: 183px;
  }
}
