.upload {
  margin: 0 auto;
  width: 320px;
  text-align: center;

  background-color: $light-grey;
}

.upload__title {
  background-color: #ffffff;
}

.upload__button {
  width: 280px;
  height: 55px;

  background-color: #ffffff;
  border: 3px solid;
  border-radius: 27px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.upload__button--post {
  border-color: $pink;

  color: $pink;

  &:hover,
  &:focus {
    background-color: $pink;

    color: #ffffff;
  }

  &:active {
    background-color: $pink;

    color: rgba(#ffffff, 0.3);
  }
}

.upload__button--cancel {
  border-color: rgba($navy, 0.1);

  color: rgba($navy, 0.1);

  &:hover,
  &:focus {
    border-color: rgba($navy, 0.3);

    color: rgba($navy, 0.3);
  }

  &:active {
    background-color: rgba($navy, 0.3);
    border-color: transparent;

    color: rgba(#ffffff, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .upload {
    width: 660px;
  }

  .upload__container {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: $desctop-width) {
  .upload {
    width: 1200px;
  }
}
